# standart with http://editorconfig.org

root = true #  A special property that should be specified at the top of the file outside of any sectionsSet to true to stop .editor config file search on current file


[*.html] # below is the content for .html fyles 

indent_style = space # Possible values - tab, space

indent_size = 2 # Possible values - an integer, tab (Indentation size in single-spaced characters)

end_of_line = lf # Possible values - lf, crlf, cr (Line ending file format)

charset = utf-8 # Possible values - latin1, utf-8, utf-16be, utf-16le (File character encoding)

trim_trailing_whitespace = true # Possible values - true, false (Denotes whether to trim whitespace at the end of lines)

insert_final_newline = false # Possible values - true, false (Denotes whether file should end with a newline)


[*.css] # below is the content for .css fyles 

indent_style = space # Possible values - tab, space

indent_size = 2 # Possible values - an integer, tab (Indentation size in single-spaced characters)

end_of_line = lf # Possible values - lf, crlf, cr (Line ending file format)

charset = utf-8 # Possible values - latin1, utf-8, utf-16be, utf-16le (File character encoding)

trim_trailing_whitespace = true # Possible values - true, false (Denotes whether to trim whitespace at the end of lines)

insert_final_newline = false # Possible values - true, false (Denotes whether file should end with a newline)